<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
     <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
     </customHeaders>
   </httpProtocol>
  <staticContent>
    <remove fileExtension=".woff" />
    <remove fileExtension=".woff2" />
    <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
  </staticContent>
  <security>
      <requestFiltering>
          <fileExtensions>
              <add fileExtension=".woff" allowed="true" />
              <add fileExtension=".ttf" allowed="true" />
              <add fileExtension=".woff2" allowed="true" />
          </fileExtensions>
      </requestFiltering>
  </security>    
    <handlers>
      <add name="ReviewerFinderHandler" path="*" verb="*" modules="FastCgiModule"
      scriptProcessor="D:\SanjeevRai\PythonTest\DRF\ReviewerFinder\env\Scripts\python.exe|D:\SanjeevRai\PythonTest\DRF\ReviewerFinder\env\lib\site-packages\wfastcgi.py" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="D:\SanjeevRai\PythonTest\DRF\ReviewerFinder" />
    <add key="DJANGO_SETTINGS_MODULE" value="ReviewerFinderProject.settings" />
    <!-- Optional - uncomment to get logging (but make sure "Logs" dir is already created) -->
    <add key="WSGI_LOG" value="C:\temp\DjangoOnIISProject.log" />
  </appSettings>
</configuration>